<div class="row">
    <div class="col-md-12">
        <div class="container">
            <p style="color: white;">{{content.fields.footer.fields.description}}</p>
            <a href="/photography">Photography</a>
        </div>
    </div>
</div>